
.card {
    margin: 0 auto; /* Center the card */
    max-width: 500px; /* Limit the width of the card */
}

.card__image {
    width: 100%;
    height: auto; /* Adjust the height of the image */
}

.card__overlay {
    padding: 20px; /* Add padding to the overlay */
}

.card__header {
    align-items: flex-start; /* Align items to the start */
    gap: 1em; /* Reduce the gap between items */
    padding-bottom: 10px; /* Add padding to the bottom */
}

.card__thumb {
    width: 40px; /* Decrease the width of the thumbnail */
    height: 40px; /* Decrease the height of the thumbnail */
}

.card__title {
    font-size: 1.2em; /* Increase the font size of the title */
    margin-bottom: 5px; /* Add margin to the bottom of the title */
}

.card__tagline {
    font-size: 0.9em; /* Decrease the font size of the tagline */
    margin-bottom: 10px; /* Add margin to the bottom of the tagline */
}

.card__description {
    margin-bottom: 20px; /* Add margin to the bottom of the description */
}

.ingredients {
    width: 150px; /* Increase the width of the button */
    height: 40px; /* Increase the height of the button */
    font-size: 1.1em; /* Increase the font size of the button */
    border-radius: 20px; /* Increase the border radius of the button */
}

/* Additional styles */
.button-container {
    text-align: center; /* Center align the button */
    margin-bottom: 20px; /* Add margin to the bottom */
}

.button {
    text-decoration: none; /* Remove underline */
    color: #6A515E; /* Set text color */
    background-color: #fff; /* Set background color */
    border: 1px solid #6A515E; /* Add border */
    padding: 10px 20px; /* Add padding */
    border-radius: 20px; /* Add border radius */
    font-size: 1em; /* Set font size */
}

.button:hover {
    background-color: #6A515E; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.deatils-card {
    display: block;
    justify-content: center;
    /* text-align: center; */
}
